<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Pay</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="icomoon/icomoon.css">
	<link rel="stylesheet" type="text/css" href="css/vendor.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<style type="text/css">
		@media (min-width : 1025px) {
			.h-custom {
				height: 100vh !important;
			}
		}
	</style>
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">
	<div th:insert="~{layout/header :: headerFragment}"></div>
	<section class="">
		<div class="container h-100 py-2">
			<div class="card shadow-2-strong mb-3 mb-lg-0 px-3 py-3 bg-custom" style="border-radius: 5px;">
				<div class="row">
					<h4>Payment</h4>
					<div class="col-lg-12" ng-app="locationApp" ng-controller="LocationCtrl">
						<form th:action="@{pay}" th:object="${addAdmin}" id="addAdmin" method="post">
							<div class="card mt-3">
								<div class="card-header">
									<h5 class="card-tile mb-0">PAYMENT</h5>
								</div>
								<div class="card-body">
									<div class=" row">
										<div class="col-lg-6">
											<div class="mt-3">
												<label for="" class="form-label">Full Name</label> <input
													class="form-control" path="" />
											</div>
										</div>
										<div class="col-lg-6">
											<div class="mt-3">
												<label for="" class="form-label">Number Phone</label> <input
													class="form-control" path="" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2">
											<div class="mt-3">
												<select ng-model="selectedCity"
													ng-options="city as city.name for city in cities"
													ng-change="getDistricts()" class="form-select"
													aria-label="Default select example" id="city">
													<option value="">Chọn tỉnh thành</option>
												</select>
											</div>
										</div>
										<div class="col-lg-2">
											<div class="mt-3">
												<select ng-model="selectedDistrict"
													ng-options="district as district.name for district in districts"
													ng-change="getWards()" ng-disabled="!selectedCity"
													class="form-select" aria-label="Default select example"
													id="district">
													<option value="">Chọn quận huyện</option>
												</select>
											</div>
										</div>
										<div class="col-lg-2">
											<div class="mt-3">
												<select ng-model="selectedWard"
													ng-options="ward as ward.name for ward in wards"
													ng-disabled="!selectedDistrict" class="form-select"
													aria-label="Default select example" id="ward">
													<option value="">Chọn phường xã</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="mt-3">
												<label for="" class="form-label"></label> <input class="form-control"
													path="" placeholder="Enter A Specific Address" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div>
												<label for="" class="form-label">Shipping Unit</label> <select>
													<option value="">Vận chuyển nhanh</option>
													<option value="">Vận chuyển Express</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6">
											<div>
												<label for="" class="form-label">Payment Methods</label> <input
													type="radio" path="" /> Thanh toán khi nhận hàng
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7">
						<div class="card">
							<div class="table-responsive">
								<table class="table m-0">
									<thead>
										<tr>
											<th scope="col" class="h3">Book Title</th>
											<th scope="col">Quantity</th>
											<th scope="col">Price</th>
										</tr>
									</thead>
									<tbody>
										<!-- Lặp qua danh sách các sản phẩm trong giỏ hàng -->
										<tr th:each="cartLine : ${cartLines}">
											<td>
												<div class="d-flex align-items-center">
													<img th:src="@{/img/{bookImage}(bookImage=${cartLine.book.bookImage})}"
														class="img-fluid rounded-3" style="width: 120px;" alt="Book">
													<div class="flex-column ms-4">
														<p class="mb-2" th:text="${cartLine.book.title}"></p>
													</div>
												</div>
											</td>
											<td class="align-middle">
												<div class="d-flex flex-row">
													<a th:href="@{${cartLine.quantity != 1} ? '/downCart/' + ${cartLine.book.bookId} : '#'}"
														th:onclick="${cartLine.quantity == 1} ? 'return false;' : ''">
														<i class="fa fa-minus" aria-hidden="true"
															th:style="${cartLine.quantity == 1} ? 'opacity: 0.5;' : ''"></i>
													</a>

													<input id="form1" name="quantity" type="text"
														th:value="${cartLine.quantity}"
														class="form-control form-control-sm text-center ms-2 me-2"
														style="width: 50px;" readonly />

													<a href="/addCart/${cartLine.book.bookId}">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</a>
												</div>
											</td>
											<td class="align-middle">
												<p class="mb-4">$ <span th:text="${cartLine.book.bookPrice}"></span></p>
											</td>
											<td><a href="/deleteCart/${cartLine.book.bookId}"><i class="fa fa-times"
														aria-hidden="true"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="d-flex justify-content-between">
							<p class=" mb-2">Subtotal</p>
							<!-- Hiển thị Subtotal từ Model -->
							<p class="mb-2">
								$ <span th:text="${subtotal}" maxFractionDigits="0"></span>
							</p>
						</div>
						<div class="d-flex justify-content-between">
							<p class=" mb-0">Shipping</p>
							<!-- Hiển thị Shipping từ Model -->
							<p class="mb-0">
								$ <span th:text="${shippingCost}" maxFractionDigits="0"></span>
							</p>
						</div>

						<hr class="my-4">

						<div class="d-flex justify-content-between mb-4">
							<p class=" mb-2">Total (tax included)</p>
							<!-- Hiển thị Total từ Model -->
							<p class="mb-2">
								$ <span th:text="${total}" maxFractionDigits="0"></span>
							</p>
						</div>
						<div class="d-grid gap-2">
							<button type="button" d class="btn m-0">
								<div class="d-flex justify-content-between">
									<span class="pe-3"><a href="/addOrderLine"
											class="btn btn-primary btn-lg mt-0">Checkout ($ <span th:text="${total}"
												maxFractionDigits="0"></span>)</a></span>
									<!-- Hiển thị Total từ Model -->

								</div>
							</button>
							<button type="button" class="btn mt-0">
								<div class="d-flex justify-content-between">
									<span class="pe-3">
										<a href="/cart" class="btn btn-warning btn-lg mt-0">Back
											To Cart</a></span>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<script src="/js/app.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</body>

</html>